<div class="o-page__sidebar js-page-sidebar">
    <div class="c-sidebar">
        <a class="c-sidebar__brand" href="#">
            <img class="c-sidebar__brand-img" src="../../../img/cuentacon.png" alt="Logo">
        </a>

        <h4 class="c-sidebar__title">Dashboards</h4>
             <ul class="c-sidebar__list">

                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" href="dashboard.html">
                        <i class="fa fa-tachometer u-mr-xsmall"></i>Dashboard
                    </a>
                </li>
                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" href="create-master-agent.html">
                        <i class="fa fa-user u-mr-xsmall"></i>Create Master Agent</a>
                </li>
                     <li class="c-sidebar__item">
                    <a class="c-sidebar__link" href="resellers.html">
                        <i class="fa fa-user u-mr-xsmall"></i>Resellers</a>
                </li>
                                   <li class="c-sidebar__item">
                    <a class="c-sidebar__link" href="fund-transfer/fund-transfer.html">
                        <i class="fa fa-exchange u-mr-xsmall"></i>Fund Transfer</a>
                </li>

                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" href="">
                        <i class="fa fa-clock-o u-mr-xsmall"></i>Transaction History
                    </a>
                </li>

                <li class="c-sidebar__item">
                    <a class="c-sidebar__link  is-active" href="registration-request.html">
                        <i class="fa fa-handshake-o u-mr-xsmall"></i>Registration Requests
                    </a>
                </li>


            </ul>


    </div><!-- // .c-sidebar -->
</div>
<!-- // .o-page__sidebar -->

<main class="o-page__content">
    <header class="c-navbar u-mb-small">
        <button class="c-sidebar-toggle u-mr-small">
            <span class="c-sidebar-toggle__bar"></span>
            <span class="c-sidebar-toggle__bar"></span>
            <span class="c-sidebar-toggle__bar"></span>
        </button><!-- // .c-sidebar-toggle -->

        <h2 class="c-navbar__title u-mr-auto">Balance: <span class="u-text-bold">$354,567</span></h2>

        <div class="c-dropdown u-hidden-down@mobile">
            <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="c-notification__icon">
                    <i class="fa fa-user-o"></i>
                </span>
                <span class="c-notification__number">3</span>
            </a>

            <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser">
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <img class="c-avatar__img" src="../../../img/avatar-72.jpg" alt="User's Profile Picture">
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Someone mentioned you</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <img class="c-avatar__img" src="../../../img/avatar2-72.jpg" alt="User's Profile Picture">
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Recieved a Payment</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <img class="c-avatar__img" src="../../../img/avatar4-72.jpg" alt="User's Profile Picture">
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">You got a promotion</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="c-dropdown dropdown u-mr-medium u-ml-small u-hidden-down@mobile">
            <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuAlerts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="c-notification__icon">
                    <i class="fa fa-bell-o"></i>
                </span>
                <span class="c-notification__number">3</span>
            </a>

            <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAlerts">
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <span class="c-avatar__img u-bg-success u-flex u-justify-center u-align-items-center">
                                <i class="fa fa-check u-text-large u-color-white"></i>
                            </span>
                        </span>

                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Completed a task</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>

                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <span class="c-avatar__img u-bg-fancy u-flex u-justify-center u-align-items-center">
                                <i class="fa fa-calendar u-text-large u-color-white"></i>
                            </span>
                        </span>

                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Company meetup</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <span class="c-avatar__img u-bg-primary u-flex u-justify-center u-align-items-center">
                                <i class="fa fa-info u-text-large u-color-white"></i>
                            </span>
                        </span>

                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Someone mentioned you</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="c-dropdown dropdown">
            <a  class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="c-avatar__img" src="../../../img/avatar-72.jpg" alt="User's Profile Picture">
            </a>

            <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
                <a class="c-dropdown__item dropdown-item" href="#">Edit Profile</a>
                <a class="c-dropdown__item dropdown-item" href="#">View Activity</a>
                <a class="c-dropdown__item dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </header>

    <!-- // .c-toolbar -->



    <div class="container">
    <div class="row request__table__button c-table__td_a" >
        <div class="col-sm-12 u-mb-large">
            <div class="c-table-responsive@desktop">
                <table class="c-table c-table--highlight ">

                    <caption class="c-table__title  ">
                        Registration Requests <small>{{userList.length}}</small>

                    <div class="c-field has-icon-left u-width-25 u-float-right">
                      <span class="c-field__icon">
                          <i class="fa fa-search"></i>
                      </span>
                      <label class="c-field__label u-hidden-visually" for="input11">Disabled Input</label>
                      <input class="c-input" type="text" id="myInput" placeholder="Search">

                    </div>

                    </caption>
                      <thead class="c-table__head c-table__head--slim">

                        <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">Name</th>
                        <th class="c-table__cell c-table__cell--head">Business</th>
                        <th class="c-table__cell c-table__cell--head">Contact no</th>
                        <th class="c-table__cell c-table__cell--head">Date</th>
                        <th class="c-table__cell c-table__cell--head">Details</th>
                        <th class="c-table__cell c-table__cell--head">Status</th>

                        </tr>
                      </thead>

                    <tbody id="myTable">
                      <ng-container *ngFor="let user of userList">
                        <tr class="c-table__row ">

                          <td class="c-table__cell request__table__button ">
                          {{user.name}}
                          </td>

                          <td class="c-table__cell">{{user.business}}</td>
                          <td class="c-table__cell">{{user.contactNo}}
                          </td>

                          <td class="c-table__cell">{{user.date}} </td>
                          <td class="c-table__cell"><a data-toggle="modal" data-target="#master-detail"> <i class="view fa fa-search-plus  u-color-info" aria-hidden="true"></i> View Details</a>
                          </td>
                          <td class="c-table__cell ">
                          <div class="c-dropdown dropdown">
                            <button *ngIf="user.status === 'Approved'" class="c-btn c-btn--secondary has-dropdown dropdown-toggle"
                                id="dropdownMenuButton13" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-check  u-color-success " aria-hidden="true"></i>
                                Approve</button>

                                <button *ngIf="user.status === 'Pending'" class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question  u-color-warning " aria-hidden="true"></i> Pending</button>
                                <button *ngIf="user.status === 'Rejected'" class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-times-circle  u-color-danger " aria-hidden="true"></i> Reject</button>


                            <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton10">
                              <a class="c-dropdown__item dropdown-item" href="#"><i class="fa fa-check  u-color-success " aria-hidden="true"></i> Approve</a>
                              <a class="c-dropdown__item dropdown-item" href="#"><i class="fa fa-times-circle  u-color-danger" aria-hidden="true"></i> Reject</a>
                              <a class="c-dropdown__item dropdown-item" href="#"><i class="fa fa-question  u-color-warning" aria-hidden="true"></i> Pending</a>
                            </div>
                          </div>
                          </td>

                      </tr>
                     </ng-container>

                        <tr class="c-table__row c-table__row--warning">

                        </tr>

                        <tr class="c-table__row c-table__row--danger">


                        </tr>


                    </tbody>
                </table>
                <nav class="c-pagination u-justify-center u-mt-small">
                <ul class="c-pagination__list">
                    <li class="c-pagination__item">
                        <a class="c-pagination__control" href="#">
                            <i class="fa fa-caret-left"></i>
                        </a>
                    </li>

                    <li class="c-pagination__item"><a class="c-pagination__link" href="#">2</a></li>
                    <li class="c-pagination__item"><a class="c-pagination__link" href="#">3</a></li>
                    <li class="c-pagination__item"><a class="c-pagination__link" href="#">4</a></li>
                    <li class="c-pagination__item"><a class="c-pagination__link" href="#">5</a></li>
                    <li class="c-pagination__item">
                        <a class="c-pagination__link is-active" href="#">4</a>
                    </li>
                    <li class="c-pagination__item"><a class="c-pagination__link" href="#">6</a></li>

                    <li class="c-pagination__item">
                        <a class="c-pagination__control" href="#">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
    </div>






    </div><!-- // .container -->

</main><!-- // .o-page__content -->
 <!-- Modal -->
            <div class="c-modal c-modal--huge  modal  fade" id="master-detail" tabindex="-1" role="dialog" aria-labelledby="otp" data-backdrop="static">
                <div class="c-modal__dialog modal-dialog" role="document">
                    <div class="c-modal__content">

                        <div class="c-modal__header c-btn--fancy">
                            <h3 class="c-modal__title">View Detail </h3>

                            <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-close"></i>
                            </span>
                        </div>

                        <div class="c-modal__body">
                          <div class="row view-detail">
                 <div class="col-12"><h4 class="u-block u-border-bottom u-pb-xsmall ">Personal Information</h4></div>

   <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute ">Full Name</small>
Abdul  Jabbar
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Phone Number
</small>	0346 1234 567
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Email Address
</small>xyzinfotest@gmail.com
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Citizen ID
</small>42201 80833936-3
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">City
</small>	Karachi
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Home Address</small>
Sindh, Karachi - Gulshan-e-Iqbal, Block
</div>
<div class="col-12 u-pt-small"><h4 class="u-block u-border-bottom u-pb-xsmall u-pt-xsmall">Business Information</h4></div>



<div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute ">Business ID</small>
RX-Master
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Business Name
</small>	Master
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Industry
</small>IT
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Postal Code
</small>75350
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">City
</small>	Karachi
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Shop Address</small>
Karachi - Gulshan-e-Iqbal, Block
</div>

<div class="col-12 u-pt-small"><h4 class="u-block u-border-bottom u-pb-xsmall u-pt-xsmall">Account Information</h4></div>



<div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute ">Bank Name</small>
Ictineo
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Bank Branch
</small>	Nea-Branch
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Account Number
</small>	3566002020360505
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Account Title
</small>	JDS2018
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Wallet Limit
</small>	$65000
</div>
 <div class="col-12 col-sm-6 col-md-4">
<small class="u-block u-text-mute">Daily Limit </small>
$2000
</div>


<div class="col-12 d-flex btn-own-group u-pt-small ">
            <a class=" c-btn c-btn--secondary " href="registration-request.html">Back </a>

            <a class=" c-btn c-btn--danger u-ml-auto" href="registration-request.html">Reject</a>
            <a class=" c-btn c-btn--fancy " href="registration-request.html">Approved</a>
         </div></div>
                        </div>

                    </div><!-- // .c-modal__content -->
                </div><!-- // .c-modal__dialog -->
            </div><!-- // .c-modal -->
<script src="../../../custom/js/main.min.js"></script>
<script>
$(document).ready(function(){
$("#myInput").on("keyup", function() {
var value = $(this).val().toLowerCase();
$("#myTable tr").filter(function() {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
</script>
